CONFIG_IDF_TARGET="esp32s3"

# Enable C++ exceptions and RTTI
CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_COMPILER_CXX_RTTI=y

# Flash size
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Stack size for main task
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16000
